.container {
  padding: 28px;
}

.listNotesContaienr {
  border-bottom: 1px solid rgba(157, 158, 160, 0.528);
  border-top: 1px solid rgba(157, 158, 160, 0.528);
  padding: 16px 4px;
  display: flex;
}

.actionList {
  margin-left: auto;
  display: flex;
  gap: 8px;
}
